<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flowline.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FlowlineWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Flowline_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>971EAD082F7097B1006D2662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9752E0112F6704A700CBF252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9752E0202F6704A800CBF252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9752E02A2F6704A800CBF252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97B43E4B2F73134E004B28DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
